TUSHARE_TOKEN=your_tushare_token
FUND_AUTO_REFRESH_SECONDS=900
FUND_HOLDINGS_TIMEOUT_SECONDS=12
FUND_STOCK_SPOT_TIMEOUT_SECONDS=18
FUND_QUOTE_CACHE_TTL_SECONDS=300
FUND_ESTIMATION_CACHE_TTL_SECONDS=300
